<nav class="navbar navbar-dark bg-primary sticky-top">
  <form class="form-inline">
    <button
      class="btn btn-default mr-2 my-sm-0"
      *ngIf="route.url !== '/dashboard'"
      (click)="goBack()"
    >
      <i class="fas fa-arrow-left text-white"></i>
    </button>
    <a class="navbar-brand navbar-left" routerLink="/dashboard">Lead Tracker</a>
  </form>
</nav>
