<div class="modal-header">
  <h4 class="modal-title">Delete Lead-Tracker entry?</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>Are you sure you want delete this entry?</div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.dismiss('Close clicked')">
    No
  </button>
  <button class="btn btn-danger" (click)="deleteData(id)">
    Yes
  </button>
</div>
