<div>
  <ngx-web-grid
    [schema]="headerData"
    [submission]="submitData"
    (customEvent)="deleteRow($event)"
    [refresh]="refreshForm"
  ></ngx-web-grid>
</div>
<button
  type="button"
  class="btn fab"
  data-toggle="tooltip"
  data-placement="top"
  title="New Lead"
  (click)="createData()"
>
  +
</button>
