.fab {
  width: 50px;
  height: 50px;
  background-color: #28a745;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  font-size: 38px;
  line-height: 36px;
  color: white;
  text-align: center;
  position: fixed;
  right: 85px;
  bottom: 50px;
 transition: all 0.1s ease-in-out;
}

.fab:hover {
 box-shadow: 0 6px 14px 0 #666;
 transform: scale(1.05);
 cursor: pointer;
}
.ui-table-wrapper table thead tr th {
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.ui-widget,
.ui-widget * {
  border: none;
}
table {
  border: 1px solid #d6d6d6;
  border-width: 0 0 1px 1px;
}
table td {
  border: 1px solid #d6d6d6;
  border-width: 1px 1px 0 0;
}
.ui-table-thead th em {
  margin-right: 10px !important;
}
body .ui-table .ui-table-caption {
  background-color: #fff;
  border: none;
}
.mt20 {
  margin-top: 20px;
}
.ui-table-tbody tr td {
  word-break: break-word !important;
}

@media (min-width: 640px) {
  .form-group {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }
  .ui-table-caption div div {
    text-align: left !important;
    width: 40%;
    display: inline-flex;
  }
  .ui-table-caption div div input {
    width: 100% !important;
  }
  .ui-table-caption div div em {
    margin: 10px 10px 10px 0 !important;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr > td {
    border: 1px solid #d6d6d6;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr > td:last-child {
    text-align: right;
    margin-bottom: 10px;
  }
  .formioBtn {
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .formio-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .form-group {
    width: 46%;
    margin-right: 27px;
  }
  .formio-choices.form-group {
    width: 100%;
  }
  .formioBtn {
    margin-top: 18px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .formio-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .form-group {
    width: 31%;
    margin-right: 21px;
  }
  .formio-choices.form-group {
    width: 100%;
  }
  .formioBtn {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .formio-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .form-group {
    width: 31%;
    margin-right: 21px;
  }
  .formio-choices.form-group {
    width: 100%;
  }
  .formioBtn {
    text-align: center;
    margin-left: auto;
    margin-right: 16px;
  }
}

@media (max-width: 640px) {
  .fab{
    right: 65px;
  }
  .form-group .btn {
    margin-top: 15px;
    width: 100%;
  }
  .ui-table-tbody tr {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
  }
  .ui-table-caption div {
    display: flex;
    align-items: center;
  }
  .ui-table-caption div input {
    width: 100% !important;
  }
  .ui-table-caption div div em {
    margin-right: 15px !important;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr > td {
    border: 1px solid #d6d6d6;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr > td:last-child {
    text-align: right;
    margin-bottom: 10px;
  }

  td:nth-of-type(1):before { 
    content: "Estimated Budget:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(2):before { 
    content: "Business Unit:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(3):before { 
    content: "Client Type:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(4):before { 
    content: "Sales Owner:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(5):before { 
    content: "Weightage:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(6):before { 
    content: "Closure Date:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(7):before { 
    content: "Opportunity Stage:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(8):before { 
    content: "Technology Domain:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(9):before { 
    content: "Pursuit Start Date:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(10):before { 
    content: "Client Name:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(11):before { 
    content: "Lead Source:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(12):before { 
    content: "Engagement Type:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(13):before { 
    content: "Team Size:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(14):before { 
    content: "Project Name Requirement:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
  td:nth-of-type(15):before { 
    content: "Current Updated next Steps:- "; 
    font-weight: bold;
    text-transform: uppercase;
  }
}